/*
===============
Variables
===============
*/

:root {
  /* misc variables */
  --ff-primary: "Roboto", "Helvetica", "Arial", sans-serif;
  --transition: all 0.3s linear;
  --transition-2: all 0.12s ease-out 0s;
  --spacing: 0.09rem;
  --spacing-2: 0.08rem;
  --radius: 0.5rem;
  --radius-2: 0.7rem;
  --radius-3: 0.4rem;
  --radius-4: 1rem;
}

:root {
  /* light colors (default) */
  --bg-nav: rgba(255, 255, 255, 0.8);
  --bg: #f7fafc;
  --bg-2: #edf2f7;
  --bg-3: #ffffff;
  --bg-4: #edf2f7;
  --bg-5: #edf2f7;
  --bg-hover-light: #e2e8f0;
  --bg-hover-dark: #243a52;
  --bg-hover-2: #e2e8f0;
  --fg: #2d3748;
  --fg-2: #1a202c;
  --fg-3: #4a5568;
  --border-color: #e2e8f0;
  --highlight-bg-color: #c6f6d5;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

:root.dark-theme {
  /* dark colors */
  --bg-nav: rgba(26, 32, 44, 0.8);
  --bg: #171923;
  --bg-2: rgba(255, 255, 255, 0.08);
  --bg-3: #1a202c;
  --bg-4: rgba(226, 232, 240, 0.1);
  --bg-5: #1a202c;
  --bg-hover-light: #2d3748;
  --bg-hover-dark: rgba(255, 255, 255, 0.78);
  --bg-hover-2: rgba(255, 255, 255, 0.16);
  --fg: #eceded;
  --fg-2: #e2e8f0;
  --fg-3: #718096;
  --border-color: rgba(255, 255, 255, 0.16);
  --highlight-bg-color: #276749;
  --dark-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --dark-shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.icon-theme:before {
  /* code light */
  content: "\ea80";
}

.icon-theme.dark-theme:before {
  /* code moon */
  content: "\f186";
}

/* triggered if user system is in dark-mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* dark colors (default) */
    --bg-nav: rgba(26, 32, 44, 0.8);
    --bg: #171923;
    --bg-2: rgba(255, 255, 255, 0.08);
    --bg-3: #1a202c;
    --bg-4: rgba(226, 232, 240, 0.1);
    --bg-5: #1a202c;
    --bg-hover-light: #2d3748;
    --bg-hover-dark: rgba(255, 255, 255, 0.78);
    --bg-hover-2: rgba(255, 255, 255, 0.16);
    --fg: #eceded;
    --fg-2: #e2e8f0;
    --fg-3: #718096;
    --border-color: rgba(255, 255, 255, 0.16);
    --highlight-bg-color: #276749;
    --dark-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --dark-shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  :root.light-theme {
    /* light colors */
    --bg-nav: rgba(255, 255, 255, 0.8);
    --bg: #f7fafc;
    --bg-2: #edf2f7;
    --bg-3: #ffffff;
    --bg-4: #edf2f7;
    --bg-5: #edf2f7;
    --bg-hover-light: #e2e8f0;
    --bg-hover-dark: #243a52;
    --bg-hover-2: #e2e8f0;
    --fg: #2d3748;
    --fg-2: #1a202c;
    --fg-3: #4a5568;
    --border-color: #e2e8f0;
    --highlight-bg-color: #c6f6d5;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --dark-shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .icon-theme:before {
    /* code moon */
    content: "\f186";
  }

  .icon-theme.light-theme:before {
    /* code light */
    content: "\ea80";
  }
}

/*
===============
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: calc(0.9rem + 0.3vw);
  font-weight: 200;
  line-height: 1.5;
  color: var(--fg);
  background: var(--bg);
  transition: var(--transition-2);
}

::selection {
  background: var(--highlight-bg-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--fg);
}

/*
===============
Navbar Styles
===============
*/

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-nav);
  backdrop-filter: saturate(180%) blur(5px);
  box-shadow: var(--dark-shadow);
  display: flex;
  flex-direction: column;
  z-index: 40;
}

.nav-header {
  max-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 5em;
}

.menu-toggle {
  display: none;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: calc(0.9rem + 0.8vw);
  color: currentColor;
  transition: var(--transition-2);
  background-color: var(--bg-2);
  border-radius: var(--radius-2);
  padding: 0.35em 0.35em;
}

.menu-toggle:hover {
  background-color: var(--bg-hover-2);
}

.home-logo-container {
  display: inline-flex;
  width: calc(0.8% + 22px);
  transition: var(--transition-2);
}

.home-logo-container:hover {
  transform: scale(1.2);
}

.home-logo {
  width: 100%;
}

.nav-links {
  display: flex;
  height: auto;
  justify-content: space-between;
}

.theme-toggle {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: calc(1rem + 0.6vw);
  color: currentColor;
  transition: var(--transition-2);
  padding: 0.35em 0.35em;
}

.theme-toggle:hover {
  transform: rotate(90deg);
}

.nav-links a {
  display: inline-flex;
  letter-spacing: var(--spacing);
  padding: 0.5rem 1rem;
  margin-left: 0.4em;
  margin-right: 0.4em;
  border-radius: var(--radius);
  transition: var(--transition-2);
}

.nav-links a:hover {
  background: var(--bg-hover-light);
}

.drop-down-menu {
  display: none;
  font-size: calc(1rem + 0.5vw);
  letter-spacing: var(--spacing-2);
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 1em;
  width: 100%;
}

.show-drop-down-menu {
  display: flex;
  flex-direction: column;
}

.drop-down-menu a {
  border-radius: var(--radius);
  margin-top: 0.7em;
  padding: 0.3em 0.7em;
}

.drop-down-menu a:hover {
  background-color: var(--bg-hover-light);
}

/*
===============
Homepage Styles
===============
*/

.page-container {
  text-align: center;
  max-width: 800px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.page-content {
  padding-top: calc(3rem + 7vh);
  padding-bottom: 4.5rem;
}

.page-content h1 {
  display: inline;
  color: #3c5af0;
  font-weight: 800;
  font-size: calc(2.85rem + 0.8vw);
}

.home {
  padding-top: calc(5rem + 5vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prez {
  margin: 0.4em;
  width: 80%;
  font-size: calc(0.9rem + 0.6vw);
}

.social {
  display: flex;
  font-size: calc(1.5rem + 0.6vw);
  margin-top: 1em;
}

.social a {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius);
  transition: var(--transition-1);
}

.tooltip {
  position: relative;
}

.tooltip:hover {
  background: var(--bg-hover-light);
  transform: scale(1.03);
}

.tooltip:hover:after {
  content: attr(data-tooltip);
  position: absolute;

  /* center */
  top: 120%;
  left: calc(-12px - 0.6vw);

  /* basic styles */
  padding: 0.2em;
  min-width: calc(70px + 2vw);
  max-width: 100%;
  background: var(--bg-hover-dark);
  border-radius: var(--radius);
  color: var(--bg);
  text-transform: uppercase;
  font-size: calc(0.48rem + 0.2vw);
  z-index: 4;
}

/*
===============
Footer Styles
===============
*/

.footer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding: 1em;
  padding-top: 4em;
}

.footer p {
  text-align: center;
  font-size: calc(0.55rem + 0.3vw);
  font-weight: 100;
  color: #758499;
}

.menu-toggle {
  display: none;
}

/*
===============
About page Styles
===============
*/

.about {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.about-section h2 span {
  position: relative;
  top: 2px;
  z-index: -1;
}

.about-list {
  display: flex;
  flex-direction: column;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  margin-left: 1.4rem;
  margin-right: 1.4rem;
}

.card-style {
  border-width: 1px;
  background: var(--bg-3);
  border-style: solid;
  border-radius: var(--radius);
  border-color: var(--border-color);
}

.about-card {
  display: flex;
  padding: 1em;
  margin-bottom: 1em;
  transition: var(--transition-2);
}

.about-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--dark-shadow);
}

.about-card-prez {
  padding-left: 0.6em;
  padding-right: 0.3rem;
}

.about-card-prez h5 {
  margin-top: 0.3rem;
}

.about-card-prez p {
  margin-top: 0.4rem;
  font-size: calc(0.77rem + 0.1vw);
  line-height: 1.3;
  text-align: justify;
}

.keywords {
  margin-top: 0.2rem;
  margin-left: -0.4rem;
}

.keyword {
  display: inline-flex;
  align-items: center;
  border-radius: var(--radius-3);
  line-height: 1.2;
  margin: 0.25rem 0.2rem;
  padding: 0.2rem 0.38rem;
  background: var(--bg-4);
  color: var(--fg-2);
  font-size: calc(0.65rem + 0.1vw);
}

.about-card-date {
  font-size: calc(0.7rem + 0.3vw);
}

/*
===============
Skillset page Styles
===============
*/

.skillset {
  width: 80%;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.skills-filters {
  margin: 2.5rem 1rem;
}

.filter-btn {
  border-radius: var(--radius-4);
  background: var(--bg-5);
  cursor: pointer;
  padding: 0.4em 0.8em;
  color: var(--fg-3);
  border-color: transparent;
  font-weight: 500;
  font-size: calc(0.7rem + 0.3vw);
  margin: 0.2rem 0.2rem;
}

.skills-grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  text-align: left;
}

.skill-card {
  display: flex;
  border-radius: var(--radius-2);
  padding: 1rem;
  cursor: pointer;
  transition: var(--transition-2);
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--dark-shadow-2);
}

.skill-icon {
  display: flex;
  align-items: center;
  font-size: calc(0.9rem + 0.8vw);
}

.skill-prez {
  margin-left: 1.4rem;
}

.skill-title {
  font-size: calc(0.7rem + 0.3vw);
  font-weight: 600;
}

.skill-subtitle {
  font-size: calc(0.75rem + 0.2vw);
  font-weight: 200;
}

/*
===============
Media queries
===============
*/

@media screen and (max-width: 700px) {
  .links {
    display: none;
  }

  .menu-toggle {
    display: inline-flex;
  }

  .page-container {
    width: 90%;
  }

  .about-list {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 701px) {
  .show-drop-down-menu {
    display: none;
  }
}

@media screen and (max-height: 500px) {
  .home {
    padding-top: calc(0.2rem + 0.2vh);
  }
}
